<H1>Welcome, <%= @administrator.name %></H1>
<h2>You are a system administrator.</h2>
<H3><%= link_to 'View Communities', communities_path %></H3>
<H3><%= link_to 'View Assessors', assessors_path %></H3>
