<H1>Welcome, <%= @administrator.first_name %></H1>
<h2>You are a system administrator.</h2>
<H3>
<%= link_to 'Administer Communities', communities_path, class: "btn btn-primary" %>
<%= link_to 'Administer Assessors', assessors_path, class: "btn btn-primary" %>
<%= link_to 'Administer Residents', residents_path, class: "btn btn-primary" %>
</H3>
