<H1>Welcome, <%= @assessor.first_name %></H1>
<H3>You are an assessor for these communities:</H3>
<% @assessor.communities.each do |community| %>
  <li>
    <%= link_to community.name, community_path(community) %>
  </li>
<% end %>
