<H1>All Residents</H1>
<table>
  <tr>
    <th>Resident</th><th>Community</th>
  </tr>
<% @residents.each do |resident| %>
  <tr>
    <td><%= link_to "#{resident.first_name} #{resident.last_name}", resident_path(resident) %></td>
    <td><%= link_to resident.community.name, community_path(resident.community) %></td>
  </tr>
<% end %>
</table>
